<mat-card>
  <mat-card-header>
    <mat-card-title>Contact locatie</mat-card-title>
  </mat-card-header>
  <mat-card-content class="p-3">
    <div fxLayout="column">
      
      <div fxLayout="row">
        <mat-form-field fxFlex>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div fxFlex="2 2 calc(10em + 10px)"></div>
        <div fxFlex fxLayoutAlign="end center">
          <button mat-button color="accent" (click)="AddContact()">
            <mat-icon>add</mat-icon> Adauga
          </button>
        </div>
      </div>

      <div fxFlex fxLayout="column" class="mat-elevation-z8">
        <table fxFlex mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tip contact </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> <i [ngClass]="element.icon" class="mr-2"></i> {{element.type}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="value">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Valoare </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" fxLayoutAlign="end center">
              <button mat-button color="warn" (click)="DeleteContact(element)">
                <mat-icon>delete</mat-icon> Sterge
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


        </table>
        <mat-paginator fxFlex [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-card-content>
 
</mat-card>
