@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row login-admin-container align-items-center">
    <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-10 offset-1 justify-content-center align-content-center">
        <div class="container-fluid login-container-wrapper">
            <section class="logo-container">
                <img class="img-fluid" src="/images/Logo/Logo-transparent-lightgray.png" alt="Logo" />
            </section>
            <section class="card">
                <div class="card-header text-center">
                    Autentificare
                </div>
                <div class="card-body">
                    <div class="login-body">
                        <form id="account" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group user-name">
                                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" placeholder="Parola" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="login-footer">
                                <a class="btn btn-sm btn-secondary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                                    Cont nou
                                </a>
                                <button type="submit" class="btn btn-sm btn-primary float-right">
                                    Conectare
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    body {
        background-color: #f6f6f6;
    }
</style>