@page
@model RegisterModelAdmin
@{
    ViewData["Title"] = "Inregistrare";
}

<div class="row login-admin-container align-items-center">
    <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-10 offset-1 justify-content-center align-content-center">
        <div class="container-fluid login-container-wrapper">
            <section class="logo-container">
                <img class="img-fluid" src="/images/Logo/Logo-transparent-lightgray.png" alt="Logo" />
            </section>
            <section class="card">
                <div class="card-header text-center">
                    Inregistrare - Admin
                </div>
                <div class="card-body">
                    <div class="login-body">
                        
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                          
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Inregistrare</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
  
    </div>
  
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
