/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #f2f3f6;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.full-height {
    height: 100%;
}

.login-admin-container {
    height: 100%;
    margin: 0;
}

    .login-admin-container .login-container-wrapper {
        max-width: 450px;
    }

    .login-admin-container .card-header {
        background-color: #1c3d69;
        color: white;
    }

    .login-admin-container .card-body {
        position: relative;
    }
        .login-admin-container .card-body .login-body .form-group.user-name {
            margin-bottom: 0px;
        }

        .login-admin-container .card-body .login-body .form-group {
            margin-bottom: 10px;
        }
        .login-admin-container .card-body .login-body::before {
            background-color: #fff;
            content: '';
            height: .5em;
            left: 50%;
            margin-left: -.25rem;
            margin-top: -.25rem;
            position: absolute;
            top: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            width: .5em;
        }

    .login-admin-container .card-body .form-group:first-child {
        margin-bottom: 0px;
    }
