<h1 mat-dialog-title fxLayoutAlign="center center">
  Sterge contact
</h1>
<div mat-dialog-content >
  <p class="text-center">Esti sigur ca vrei sa stergi contactul <b>{{data.value}}</b>?</p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-button color="warn" [mat-dialog-close]="data" cdkFocusInitial>
    <mat-icon>delete</mat-icon> Da
  </button>
  <button mat-button  color="primary" (click)="onNoClick()" >
    <mat-icon>close</mat-icon> Nu
  </button>
</div>
