<h1 mat-dialog-title fxLayoutAlign="center center">
  Locatie service {{data.name}}
</h1>
<div mat-dialog-content>
  <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom" (mapClick)="mapClicked($event)">
    <agm-marker [latitude]="data.latitude" [longitude]="data.longitude"></agm-marker>
  </agm-map>
</div>
<div class="pt-3" mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-button color="warn" [mat-dialog-close]="data" cdkFocusInitial>
    <mat-icon>check</mat-icon> Salveaza
  </button>
  <button mat-button color="primary" (click)="CloseDialog()">
    <mat-icon>close</mat-icon> Renunta
  </button>
</div>
