.img-flex {
  height: 200px;
  overflow: hidden;
  margin: 10px;
  width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  position: relative;

  .mat-mini-fab {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    display: none;
    background-color: white;
  }
}

.overlay-picture {
  position: absolute;
  background-color: blue;
  top: 0;
  left: 0;
  opacity: .2;
  width: 100%;
  height: 100%;
  display: none;
}

.img-flex:hover .mat-mini-fab {
  display: block;
}

.img-flex:hover .overlay-picture {
  display: block;
}
